.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  background-color: #333;
  width: 100%;

  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 8px;

    input {
      height: 32px;
      border-radius: 6px;
      border: none;
      width: 100%;
      padding: 0 12px;
      outline: none;
    }

    button {
      width: 120px;
      height: 32px;
      background-color: #666;
      border: none;
      border-radius: 6px;
      color: white;
    }
  }
}